<%- include('./partials/head') %>
<title><%-blog.title%></title>

<main class="artikel">
    <article>
        <a href="/"class="back-button">terug</a>
        <h1><%-blog.title%></h1>
        <%-blog.description%>
    </article>
</main>

<%- include('./partials/foot') %>